/*
	Note: maybe: not sure or haven't used
*/
/*neotheo titles*/
html { box-sizing: border-box;}
*, *:before, *:after {
	box-sizing: inherit;
}
* {
	font-family: Trebuchet MS;
	margin:0;
	padding:0;
}
li {display: inline; margin-left: 30px; text-decoration: none; }

.clear {
	clear: both;
}



/*header*/
#maincontainer {
	/*width: 960px;*/
	width:100%;
	margin: 0px auto;
	padding: 0px;
	background: no-repeat center center fixed;
	background-size: cover;
}

h3, #aboutme {
  font-size: 45px;
  padding-bottom: 20px;
}

#logo {
	margin: center;
	width: 100%;
	padding-right: 3%;
}

.overlap {
	width:30%; /*can see menu words but somehow fixed. Can't screen adjust*/
	float: left;
}

.nav {
	width:80vw; /*can see menu words but somehow fixed. Can't screen adjust. oh its the margin px*/
	margin-top: 75px;
	text-align: right;
}

.col-1 {
	position: absolute;
	z-index: 2;
	margin-top: 20px;
}

.container {
	background: no-repeat center center fixed;
	background-size: auto;
	width: 100vw;
	height: auto;
	margin: 0 auto;
	z-index: 1;
}

/*
			Main Page
*/

/*slider*/


.image-slider-wrapper{
	width: 100vw;
	height: auto;
}
#image_slider{
	position: relative;
	overflow: hidden;
	height: auto;
	padding:0;
	float: left;
}
#image_slider li{
	position:relative;
	max-width: 100vw;
	float:left;
	list-style: none;
	margin-left: 0px;
}

#image_slider li img {
	/* background: url(imgfolder/module1.jpg) no-repeat center center fixed; */
	/* background: url(imgfolder/module2c.jpg) no-repeat center center fixed; */
	background: no-repeat center center fixed; width:100vw; height:auto;
	background-size: cover;
}

/*
					Footer
													*/
#footer div {
    padding-right: 20px;
}

/* maybe */
.headline {
	margin: 0 auto;
	width: 300px;
	height: auto;
	color: black;
}

/*Header*/

.header {
	width: 100vw;
}


/* .about {
	background-color: #e8d75b;
	overflow: auto;
	margin-top: 534px;
	margin-bottom: 100px;
	width: 100vw;
	height: auto;
} */

#about2 {margin: 0 auto; text-align: center;}
#about1 {width:480px; float:left; font-size: 16px; padding-bottom: 30px}

.aboutmain {margin-top: 200px;}

.contact {
	width: 100vw;
	height: 200px;
	margin-top: 630px;
	background-color: #e8d75b;
}

#message {background-color: #e8d75b; overflow: auto;
	margin: 0px auto; height:530px;
}

#slideshow {
    position:absolute;
    z-index: -1;
    top: 0px;
    height:600vw;
    width:100vw;
}



/*#slideshow img {
    position:relative;
    float:left;
    z-index:8;
}
*/
/*#slideshow img.active {
    z-index:10;
}

#slideshow img.last-active {
    z-index:9;
}
*//*.bg
{
  width: 100%;
  z-index: 0;
}*/

/*backg color not covering everything*/
a:link {color: black;
		text-decoration: none;}
a:visited {color: black;}
a:hover {color: white;}
/*border-radius (p329)*/
		p.about1 {width:
				400px; margin-left: -70px;}
		p.aboutmain {width:500px;}
										/*^not wrking*/
h2 {font-size:60pt; font-family: NeoTheo; margin: 0px;}
/*prob not even going to use this but instead an image*/
h1.indexheader {font-size:50pt; font-family: NeoTheo; margin-left: 60px; float:left;}
h3.subhead {font-size:45pt; font-family: NeoTheo;}
h3.innerhead {font-size:45pt; font-family: NeoTheo; font-color: #ffffff;}
 /*margin bottom
	       calc(11% - 9)
	       float:
	       #header {position: top}*/

.mainPort {
	box-sizing: border-box; /*Just good practice but not necessary*/
	width: 100vw;
	height: auto;
	margin-top: 0px;
	margin-bottom: 50px;
}

.centerproj {
	width: 960px;
	height: auto;
	margin: 0 auto;
}

#button1 {float:right; margin-right:90px;}
#bpara {float:right;}

.col1 {width: 320px; height: 640px; float:left; background: url('../imgfolder/wowhuhsite.jpg');}
.col2 {width: 640px; height: 320px; float:left; background: url('../imgfolder/27.jpg');}
.col3 {width: 320px; height: 320px; float: left; background: url('../imgfolder/typo9_icon.jpg');}
.col4 {width: 320px; height: 320px; float: left; padding-left: 0; background: url('../imgfolder/typo2maggrids_icon.jpg');}

/*confused on those cols*/
.subcontent {""}
/*slash triangular background color for index*/
/*did I do something wrong with li*/
li.header {color: rgba (0, 0, 255, 0.8); float: right;}
/*^it went up too somehow with float*/
a:active {color: rgba(0, 0, 255, 0.8)
text-shadow: 1px 4px 6px #def, 0 0 0 #000, 1px 4px 6px #def;}
/*^dont see diff*/
img.portimg {margin-left: 20px;}
p.circle {padding: 0px; border-radius: 100px; color:gray;}
/*new*/
#indexMore {
	position: relative;
	padding-top: 30px;
    padding-left: 30px;}
#indexMore:hover {
	color: #E8D75B;
}
/*^can't see it*/
/*div id "about" want the background cover more areas above and below <br> doesnt wrk*/

#port1 {width: 300px; height: 280px; float:left; margin: 10px; background: url('../imgfolder/960_grid_16_col3d.jpg');}
#port2 {width: 300px; height: 280px; float:left; margin: 10px; background: url('../imgfolder/seniorinformationc_icon.jpg');}
#port3 {width: 300px; height: 580px; float:right; margin: 10px; background: url('../imgfolder/wowhuhsite.jpg');}
#port4 {width: 300px; height: 280px; float:left; margin: 10px;background: url('../imgfolder/SeniorPort1_icon.jpg');}
#port5 {width: 300px; height: 280px; float:left; margin: 10px; background: url('../imgfolder/typo9_icon.jpg');}
#port6 {width: 620px; height: 280px; float:left; margin: 10px; background: url('../imgfolder/CBI_justpic.jpg');}
#port7 {width: 300px; height: 280px; float:left; margin: 10px; background: url('../imgfolder/SeniorPortDragon_icon.jpg');}
#port8 {width: 300px; height: 280px; float:left; margin: 10px; background: url('../imgfolder/SeniorPortsakura_icon.jpg');}
#port9 {width: 620px; height: 280px; float:left; margin: 10px; background: url('../imgfolder/27.jpg');}
#port10 {width: 620px; height: 280px; float:left; margin: 10px;background: url('../imgfolder/typo2maggrids_icon.jpg');}
#port11 {width: 300px; height: 280px; float:left; margin: 10px; background: url('../imgfolder/acspreporiginal2icon.jpg');}

#port12 {width: 96vw; height: 300px; margin: 0 auto; border: solid silver; margin-bottom: 30px; background: url('../imgfolder/rpg.png'); background-position: center center; background-repeat: no-repeat; background-size: cover;}
#port13 {width: 96vw; height: 300px; margin: 0 auto; border: solid silver; margin-bottom: 30px; background: url('../imgfolder/videosite.png'); background-width: 100%; background-position: center center; background-repeat: no-repeat; background-size: cover;}
#port14 {width: 96vw; height: 300px; margin: 0 auto; border: solid silver; margin-bottom: 80px; background: url('../imgfolder/doge.png'); background-width: 100%; background-position: center center; background-repeat: no-repeat; background-size: cover;}
#port15 {width: 96vw; height: 300px; margin: 0 auto; border: solid silver; margin-bottom: 80px; background: url('../imgfolder/project4.png'); background-width: 100%; background-position: center center; background-repeat: no-repeat; background-size: cover;}


.footerPort {
  margin-top: 30px;
}

#contactp {
	width: 100vw;
	text-align: center;
}

h2 {color: #e8d75b;}
img.skillheader {margin-left: 60px;}
#body {margin-left: 100px;}
tf.language {background-color: black; color: white; font-family: NeoTheo; font-size:45pt;}
td.chinese {border: 1px solid;}
/*how get top part of border disappear or hidden*/
/*.box {textarea-align: right;} text box align prob*/
@font-face {
	font-family: NeoTheo;
	src: url('../fonts/NeoTheo.otf');
}

			#submit {margin-left: 800px;}
			#emailcontainer {margin-left: 255px; margin-bottom: 7px;}
			#name {margin-left: 255px;}
			#send {margin-left: 560px;}
.timenumber {margin-left:60px; font-size:15px;}

input, textarea {
	color: #999999;
}

#topimage {background-color: black;}

#timeline {
    position:absolute;
    z-index: -1;
    top: 250px;
    margin-left:-10px;
}

#numbers {float:left;}
#subhead {float: left;}

#portrait {float:left;
			margin-right:10px;}

#skills {margin-left: 37px;}

#language {position:static; margin-right: 90px;}


/*about me*/
#background {background: url('../imgfolder/Cover_background_port_online.jpg'); height: 380px;}
#aboutme {color: #2c2c2c; width: 286px;}
section.containAHead {
	height: 190px;
}

section.containerMinor {
	width: 80vw;
}

/*resume*/
.skillmain {font-size: 16px;
	        width: 25%;
	        float:left;
	        }
.skilltxt1, .skilltxt2, #language {float:left;
	                  width: 18%;
                      padding-left:-30px;
                      }
#language {
	padding-right: 20px;
	margin-left: 27px;
}

#education_list{
	font-size: 16px;
	width: 50%;
	float:left;
	margin-bottom: 20px;
}

#w3logo {
	float: right;
	width: 47%;
	padding-bottom: 70px;
	padding-left:5px;
}

/*portfolio popup*/

section.containPhead {
	height: 90px;
}

/* padding-bottom and top for image */
.mfp-no-margins img.mfp-img {
	padding: 0;
}
/* position of shadow behind the image */
.mfp-no-margins .mfp-figure:after {
	top: 0;
	bottom: 0;
}
/* padding for main container */
.mfp-no-margins .mfp-container {
	padding: 0;
}

.portHead {
	width: 100vw;
	float: left;
	margin-top: calc(10px + 1vw);
}

.width {
	width: 1000px;
}

/*Web Dev*/
.webdev {
	width: 100vw;
}

.webdev2 {
	margin: auto;
}

/*Graphic Design*/
.graphicDesign {
	width: 100%;
	float: left;
}

.graphicDesign2 {
	margin: auto;
	width: 960px;
}

/*media query-max size of screens*/
/*[class*="col-"] {
	width:100%;
}*/

/* @media all and (max-width: 480px) {

} */

/*Flex*/

.container, .col1, .col2, .col3, .col4 {
	display: flex;
}

@media screen and (max-width: 1400px) {
	.nav {
		margin-top: 70px;
	}
}

@media screen and (max-width: 1289px) {
	.nav {
		margin-top: 64px;
	}
}

@media screen and (max-width: 1243px) {
	.nav {
		margin-top: 60px;
	}
}

@media screen and (max-width: 1184px) {
	.icon {
		height: auto;
		width: 130px;
	}
}

@media screen and (max-width: 1153px) {
	.nav {
		margin-top: 54px;
	}
	.icon {
		height: auto;
		width: 129px;
	}
}

@media screen and (max-width: 1089px) {
	.nav {
		margin-top: 49px;
	}
}

@media screen and (max-width: 1018px) {
	.nav {
		margin-top: 44px;
	}
	.icon {
		height: auto;
		width: 125px;
	}
}

@media screen and (max-width: 959px) {
	/*Has to be class*/
	.col1 {
		width:640px;
		height: 320px;
		align-items: center;
	}
	.col3, .col4 {
		justify-content: center;
	}
	.nav {
		margin-top: 39px;
	}
	.centerproj {
		width: 640px;
	}
}

@media screen and (max-width: 880px) {
	.icon {
		height: auto;
		width: 118px;
	}
}

@media screen and (max-width: 860px) {
	.nav {
		margin-top: 34px;
	}
}

@media screen and (max-width: 816px) {
	.nav {
		margin-top: 31px;
	}
	.icon {
		height: auto;
		width: 115px;
	}
}

@media screen and (max-width: 750px) {
	.nav {
		margin-top:  26px;
	}
	.icon {
		height: auto;
		width: 108px;
	}
}

@media screen and (max-width: 706px) {
	.nav {
		margin-top:  26px;
	}
	.icon {
		height: auto;
		width: 106px;
	}
}

@media screen and (max-width: 655px) {
	.nav {
		margin-top: 21px;
	}
	.icon {
		height: auto;
		width: 100px;
	}
}

@media screen and (max-width: 639px) {
	.col1, .col2, .col3, .col4 {
		width: 100vw;
	}

	.nav {
		margin-top: 15px;
	}
}

@media screen and (max-width: 612px) {
	.icon {
		height: auto;
		width: 90px;
	}
}

@media screen and (max-width: 560px) {
	.icon {
		height: auto;
		width: 83px;
	}
}

@media screen and (max-width: 544px) {
	.icon {
		height: auto;
		width: 80px;
	}
}

@media screen and (max-width: 400px) {
	.icon {
		height: auto;
		width: 60px;
	}
	.port {
		width: 320px;
		height: 320px;
		flex-direction: column;
	}

	.container {
		flex-direction: row
	}

	#about1, #about2 {
		width: 300px;
		font-size: 13px;
	}

	.nav {
		width: 93vw;
		margin-top: 2px;
	}

	.centerproj {
		width: 320px;
	}

	#logo {
		padding-right: 10px;
	}

	#logo img {
		height: auto;
		width: 45px;
	}

}

/*
			Media Query:
								Porfolio
*/

@media screen and  (max-width: 972px) {
	.graphicDesign2 {
		width: 640px;
	}
}

@media screen and  (max-width: 651px) {
	.graphicDesign2 {
		width: 320px;
	}

	#port6, #port9, #port10 {
		width: 300px;
	}
}
